*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #6F6F6F;
}

/*NAVBAR*/

.header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 10vw;
}

.container {
    padding: 0 16vw;
}

.logo,
.nav-item {
    color: #fff;
    font-weight: normal;
    font-size: .8em;
    text-decoration: none;
    transition: color .3s;
}

.nav-item {
    display: inline-block;
    padding: .2em .8em;
    margin: 25px 8px;
}

.logo:hover,
.nav-item:hover,
.nav-item:active,
.nav-item.active {
    color: #C89446;
}

.nav-button {
    border: #C89446 solid 1px;
    border-radius: 3px;
    padding: 6px 17px;
}

/*LAND-CONTENT*/

.land-content {
    background: linear-gradient(180deg, #1c1c1c, #1c1c1c66 50%), center center / cover no-repeat url(img/eggs.jpg);
    height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-page {
    background: linear-gradient(180deg, #1c1c1c, #1c1c1c66 50%), center center / cover no-repeat url(img/salad-chicken.jpg);
}

.welcome {
    font-family: 'Pinyon Script', cursive;
    font-size: 3.75em;
    font-weight: normal;
    color: #C89446;
}

.name {
    font-size: 4.3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 11px;
    margin: .6em 0 .5em 0;
    color: inherit;
}

.subtitle {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 4px;
    color: inherit;
}

/*CARDS*/

.card {
    display: flex;
    align-items: center;
    position: relative;
}

.main-content .card {
    margin-bottom: 80px;
}

.image-border {
    border: 2px solid #C89446;
    border-radius: 4px;
    transform: translateY(-30px);
}

.card-image {
    height: 450px;
    position: relative;
    top: 30px;
    display: block;
}

/*Cards-texts*/
.card-paragraphe {
    font-size: 1em;
}

.card-yellowtitle {
    font-family: 'Pinyon Script', cursive;
    font-size: 2.5em;
    font-weight: normal;
    color: #C89446;

}

.card-yellowtitle::before {
    content: '';
    display: block;
    height: 2px;
    width: 23px;
    background-color: #C89446;
    margin-bottom: .6em;
}


.card-title {
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #383838;
    margin: .6em 0;
}

.card-link {
    color: #C89446;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
}

.card-link::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 9px;
    background: url(img/arrow-right.svg) center center / 5px 9px;
    margin-left: 10px;
}

.card-link:hover {
    text-decoration: underline;
}

/*----Card-recipe-list----*/

.ingredients-list {
    width: 350px;
    padding: 30px 70px 30px 90px;

}

.ingredients-list-item {
    list-style: none;
    line-height: 3em;
    font-weight: 600;
}

.ingredients-list-item::before {
    content: attr(value);
    font-weight: 300;
    position: absolute;
    right: 90%;
}

/*----video-tutorial----*/

.video-tutorial {
    width: 540px;
    height: 320px;
    background: center center / cover no-repeat url(img/tutorial.jpg);
    flex-shrink: 0;
    margin-left: 90px;
    box-shadow: #7f7f7f 0 0 0px;
    transition: .3s;
}

.video-tutorial::before {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    background: center center / 50px no-repeat url(img/play.png), #2c2c2c80;
    cursor: pointer;
}

.video-tutorial:hover {
    transform: scale(105%);
    box-shadow: #7f7f7f 0 0 30px;
}


/*---photo left side---*/
.left .image-border {
    margin-right: 95px;
}

.left .card-image {
    left: 30px;
}

/*---photo right side---*/
.right {
    flex-direction: row-reverse;
}

.right .image-border {
    margin-left: 95px;
}

.right .card-image {
    right: 30px;
}

/*Centered (without photo)*/
.center {
    flex-direction: column;
}

.center .card-text {
    text-align: center;
}

.center .card-paragraphe {
    max-width: 640px;
}

.center .card-yellowtitle::before {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*recipes-list*/

.recipes-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 30px 16vw;
}

.recipes-list-link {
    text-decoration: none;
    color: #383838;
    font-weight: 600;
    text-transform: uppercase;
}

.recipes-list-link:hover,
.recipes-list-link.active {
    border-bottom: #C89446 1px solid;
}

/*Square recipes*/
.square-recipes {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 440px;
    margin: 150px 10vw;

}

.square-recipes .card {
    max-width: 550px;
}

.square-recipes .card .card-text {
    display: flex;
    flex-flow: column;
    align-self: stretch;
    justify-content: space-between;
    font-size: 14px;
    background-color: #fff;
}

.square-recipes .card .small-card-image {
    margin-right: 32px;
    height: 160px;
}

.square-recipes .right .small-card-image {
    margin-left: 32px;
    margin-right: 0px;
}

.square-recipes .right .card-text {
    text-align: right;
}

.square-recipes .card .card-title {
    text-transform: capitalize;
    margin: 0;
}

.square-recipes .card .card-yellowtitle::before {
    display: none;
}

.square-recipes.container {
    margin-left: 0;
    margin-right: 0;
}

.square-recipes.container .card {
    max-width: 450px;
}

.square-recipes.container .card .small-card-image {
    height: 100%;
}

.background-square {
    height: 450px;
    width: 450px;
    border: 1px #C89446 solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotateZ(45deg) translate(-75%, 0%);
    z-index: -1;
}

.big-card {
    padding: 0 10vw;
    position: relative;
}

.big-card .card {
    align-items: flex-end;
}

.big-card .card-text {
    flex-shrink: 2;
}

.card-image-chef {
    height: 25vw;
    min-height: 350px;
    width: 400px;
    background: left bottom / 150px no-repeat url("img/signature.png"), top / auto 105% no-repeat url("img/Chef.png");
}

.big-card .card-link {
    margin-bottom: 20px;
}

/*----reservation-section----*/

.reservation-section {
    position: relative;
    z-index: 1;
    background: #242424;
    padding: 100px;
}

.reservation-section .card {
    margin-bottom: 0;
}

.reservation-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
    background: center / cover url("img/reservation.jpg");
}

.reservation-section .card-title {
    color: #fff;
}

.reservation-form {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.reservation-form>* {
    min-width: 260px;
    margin: 0 1vw;
    height: 40px;
    background: none;
    padding: 5px;
    border: solid #6f6f6f6f 2px;
    border-radius: 3px;
}

.select-number {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.arrow-bg {
    background: right 10px center no-repeat url('img/arrow.png');
}

.button {
    background-color: #B78944;
    border: solid #B78944 2px;
    border-radius: 3px;
    height: 40px;
    width: 260px;
}

.button:hover {
    background-color: #b7894494;

}

.button:active {
    background-color: #b7894494;
    border: solid #fabf65 2px;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.reservation-form>*,
.button {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: .8em;
    transition: .3s;
}

.reservation-form>*:hover {
    background-color: #ffffff0a;
}

.reservation-form>*:focus {
    background-color: #ffffff14;
    border: solid #C89446 2px;
}

/*----big-card----*/

.with-margin {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-right {
    display: flex;
    justify-content: flex-end;
}

.text-right .card-text {
    text-align: right;
    width: 45vw;
    min-width: 300px;
}

.text-right .card-yellowtitle::before {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

/*----dates----*/

.recipes-dates {
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    max-width: 900px;
    margin-left: auto;
}

.recipes-dates>* {
    width: 100%;
    position: relative;
    margin: 5px 0;
}

.recipes-dates hr {
    border: 1px solid #F2F2F2;
}

.date {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    color: #383838;
}

.date strong {
    font-size: 2rem;
    font-weight: 700;
    color: inherit;
}

.date-card {
    padding: 10px 0;
}

.date-card .card-paragraphe {
    margin-left: 100px;
    font-weight: 300;
}

/*google maps*/
.main {
    line-height: 0;
}

.maps-iframe {
    width: 100%;
    height: 450px;
    border: none;

}

/*----footer----*/
.footer {
    background: right bottom / 350px no-repeat url('img/splash.png'), #383838;
    padding: 50px 10vw;
}

.footer-nav {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
}

.footer-block>* {
    line-height: 2.5em;
    color: #fff;
    margin: 5px;
}

.footer-block:first-child {
    max-width: 40vw;
}

.footer-title {
    color: #C99649;
}

.footer-paragraphe,
.footer-address,
.light-text {
    font-weight: 300;
}

.copyright,
.copyright span {
    color: #fff;
}

/*----Background-images----*/

.main-content {
    background: right top no-repeat url('img/oranges.jpg'),
        left top 600px no-repeat url('img/spices.jpg');
}

.spicy-background {
    background: left top -20px no-repeat url('img/news-bg.jpg');
}

@media screen and (max-width:1396px) {

    .square-recipes {
        justify-content: space-around;
    }

    .square-recipes.container .card {
        max-width: 550px;
    }

    .square-recipes.container>* {
        margin: 40px 0;
    }

    .square-recipes>* {
        margin: 20px 0;
    }

    .video-tutorial {
        width: 100%;
        max-width: 540px;
    }
}

@media screen and (max-width:1050px) {
    .card-image {
        height: auto;
        width: 30vw;
    }

    .ingredients-list {
        padding-bottom: 70px;
    }

}

@media screen and (max-width: 905px) {
    .header {
        position: absolute;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .logo {
        margin: 10px;
    }

    .navbar {
        text-align: center;
        margin-top: 10px;
    }

    .nav-item {
        margin: 0;
    }

    .land-content {
        font-size: 10px;
    }

    .main-content .card {
        flex-direction: column;
        margin: 60px 0;
    }

    .main-content .card .card-text {
        text-align: center;
    }

    .main-content .card .card-paragraphe {
        max-width: 640px;
    }

    .main-content .card .card-yellowtitle::before {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-content .card .card-image {

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: 80vw;
        max-width: 350px;
        padding: 5px;
    }

    .main-content .card .image-border,
    .recipes-list {
        transform: unset;
        margin: 0 0 20px 0;
    }

    .ingredients-list {
        margin-left: 70px;
    }

    .ingredients-list-item::before {
        right: unset;
        left: -30px;
    }

    .video-tutorial {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .card-image-chef {
        width: 300px;
        background: left bottom / 150px no-repeat url("img/signature.png"), top / auto 105% no-repeat url("img/Chef.png");
        border: 2px solid #C89446;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .big-card .card {
        flex-wrap: wrap;
        justify-content: center;
    }

    .big-card .text-right {
        justify-content: flex-end;
    }

    .square-recipes .card {
        flex-flow: column;
    }

    .square-recipes .small-card-image {
        display: none;
    }

    .square-recipes .card-text>* {
        padding: 10px 0;
    }

    .background-square {
        display: none;
    }

    .reservation-form {
        flex-direction: column;
        height: 150px;
        width: 50vw;
        min-width: 260px;
    }

    .date-card .card-paragraphe {
        margin-left: 70px;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav>* {

        margin-bottom: 15px;
    }

    .footer-block:first-child {
        max-width: 100%;
    }

    .footer-block>* {
        line-height: 1.7em;
    }

    .copyright {
        margin-top: 20px;
    }
}